﻿body
{
}

#banner {
    background-image: url("https://c.wallhere.com/photos/54/1e/nature_landscape_coast_long_exposure_starry_night_Milky_Way_storm_sea-127821.jpg!d");
    margin-bottom: 0;
    opacity: 0.9;
}
#banner h1 {
    color: white;
    opacity: 0.8;
    font-family: 'Kirang Haerang', Arial;
    font-size: 4rem;
}
#banner p {
        color: white;
        opacity: 0.9;
        text-transform: capitalize;
        font-family: 'Work Sans', Arial;
        font-size: 1.25rem;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        display: inline !important;
}